* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  position: relative;
}

h2 {
  font-size: 170%;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.main-form {
  background-color: #455A64;
  border-collapse: collapse;
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 50%;
  position: absolute;
  
}

.title-form {
  text-align: center; 
  padding-top: 35%;
  padding-bottom: 35%;
}

h1 {
  color: #FFFFFF;
  font-size: 300%;
  font-weight: 800;
  margin:0;
}

img {
  width: 100px;
  height: auto;
}

input {
  display: block;
  width: 80%;
  margin: 5% auto 0 auto;
}

input[type="text"], input[type="url"] {
  font-size: 120%;
  font-weight: 400;
}

input::placeholder {
  color: #C5C7C9; 
}

.enter {
  background-color: #FFC107;
  border-style: none;
  color: #FFFFFF;
  font-size: 100%;
  font-weight: 800;
}

.enter:disabled{
  background-color: grey;
}

.enter:hover {
  background-color: #FFD773;
}

.bookmark-list {
  background-color: #CFD8DC;
  border-collapse: collapse;
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
  position: absolute;
  left: 50%;
  top: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.bookmark-card {
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #455A64;
  color: #455A64;
  height: auto;
  margin: 5% 5% 0% 5%;
  padding: 2% 3% 2% 3%;
  width: auto;
  position: relative;
}

.div {
  position: relative;
}

 .delete, .unread {
  color: #607D8B;
  background: none;
  border-style: none;
  font-size: 100%;
  text-decoration: underline; 
  text-decoration-color: #F2F4F4;
  outline: none;

}

.read {
  color: #F05A28;
  padding: 0;
  background: none;
  border-style: none;
  font-size: 100%;
  text-decoration: underline; 
  text-decoration-color: #F2F4F4;
}

.read-card {
  background-color: #F2F4F4;

}

.unread {
  padding: 0;
}

.delete {
  text-align: right;
  position: absolute;
  right: 2%;
  color: #607D8B;
}

.url:link {
  font-size: 130%;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  color: #607D8B;

}

.bookmark-counter-text {
  color: #ffffff;
  display: inline-block;
  text-align: right;
  font-weight: 300;
  font-size: 100%;
  margin: auto;
  padding-right: 1%;
}

.bookmark-counter{
  color: #FFC107;
  font-size: 300%;
}

.read-unread-text{
  color: #ffffff;
  display: inline-block;
  font-size: 100%;
  font-weight: 300;
  text-align: left;
  margin: auto;
  padding-left: 10%;
}
.read-counter, .unread-counter{
  color: #FFC107;
}

@media (max-width: 480px) {

  .bookmark-list, .main-form{
    display: block;
    position: relative;
    width: 100%;
    right: 0;
    left: 0;
  }
  .read-unread-text{
    text-align: center;
    padding: 0;
    display: block;

  }
  .bookmark-counter-text{
    text-align: center;
    padding: 0;
  }
  .counter{
    margin: auto;
    max-width: 90%;
  }
  h1 {
    font-size: 200%;
  }

 /* img{
    width: 10%;
    height: auto;
  }
  .main-form{
    max-height: 50%;
  }
  .title-form{
    padding-top: 3%;
  }*/
}

